body {
  margin: 0px;
  padding: 0px;
  background: url(./images/background-pattern-desktop.svg) no-repeat,
    rgba(218, 204, 216, 0.63);
  font-family: "Work Sans", sans-serif;
}
h1,
h2,
h3,
p,
a {
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  max-height: 300px;
}
.conteudo {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  border-radius: 6px;
  padding: 20px 10px 20px;
}
.conteudo header {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}
.conteudo header h1 {
  font-size: 2.5em;
}
.text h3 {
  color: rgba(11, 1, 20, 0.801);
  font-size: 1.1em;
  font-weight: 600;
}
.first {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
