body {
  margin: 0px;
  padding: 0px;
  background: url(./images/background-pattern-desktop.svg) no-repeat,
    rgba(218, 204, 216, 0.63);
  font-family: "Work Sans", sans-serif;
}
h1,
h2,
h3,
p,
a {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 300px;
}
.conteudo {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  border-radius: 6px;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 14px;
}
.conteudo header {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}
.conteudo header h1 {
  font-size: 2.5em;
}
.text h3 {
  color: rgba(11, 1, 20, 0.801);
  font-size: 1em;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.text h3::after {
  content: "";
  display: inline-block;
  background: url("./images/icon-minus.svg") no-repeat;
  width: 28px;
  height: 28px;
}
.first {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  /* gap: 30px; */
}
.conteudo p {
  font-size: 0.8em;
  padding-top: 20px;
  line-height: 1.5em;
  max-width: 50ch;
  font-weight: 500;
  color: rgba(30, 2, 56, 0.541);
  padding-bottom: 30px;
}
.text-2 h3 {
  color: rgba(11, 1, 20, 0.801);
  font-size: 1em;
  font-weight: 600;
  display: flex;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  /* border-bottom: 1px solid rgba(182, 160, 181, 0.144); */
  padding-bottom: 20px;
  cursor: pointer;
}
.text-2 .item {
  border-bottom: 1px solid rgba(182, 160, 181, 0.144);
}

.text-2 h3::after {
  content: "";
  display: inline-block;
  background: url("./images/icon-plus.svg") no-repeat;
  width: 28px;
  height: 28px;
}
.text-2 h3:hover {
  color: rgb(144, 0, 163);
}
.text-2 .item:last-child {
  border-bottom: none;
}
